<section>
  <h1>給我個鼓勵吧＝）</h1>
  {% if site.google_plus_one %}
    <div style="float: left;" class="g-plusone" data-size="tall" data-annotation="inline" data-href="http://tonytonyjan.heroku.com" data-width="260"></div>
  {% endif %}
  {% if site.facebook_like %}
    <div class="fb-like" data-href="http://tonytonyjan.heroku.com" data-send="false" data-width="260" data-show-faces="true"></div>
  {% endif %}
  {% if site.twitter_tweet_button %}
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://tonytonyjan.heroku.com" data-text="不歸錄" data-via="tonytonyjan" data-size="large">Tweet</a>
  {% endif %}
</section>